h1 {
  color: slategrey;
  font-weight: bold;
  font-size: 400 px;
  text-align: left;
}

h3 {
  color: slategrey;
}

.address {
  text-align: right;
  font-size: small;
}

.place {
  font-weight: bold;
  font-size: 15px;
  display: table;
}

.title {
  font-style: italic;
  font-size: 15px;
}

.date {
  font-style: italic;
  text-align: right;
  font-size: 15px;
  display: table;

}

.responsibilities {
  background-color: lightsteelblue;
  font-size: 14px;
}